.about__section-title {
  margin-top: 240px;
}

.advantages-text {
  margin-left: auto;
  margin-right: auto;

  width: 702px;
  font-size: 21px;
  line-height: 30px;

  text-align: center;

  color: $secondary-text-color;
}

.stat-list {
  display: flex;
  justify-content: space-around;
  margin-top: 32px;
}

.stat-list__circle {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: 1px solid #DCDDEB;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats-list__accent {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;

  color: $primary-text-color;
}

.stat-list__item {
  font-size: 16px;
  line-height: 18px;

  letter-spacing: 1.6px;
  text-transform: uppercase;

  color: $secondary-text-color;
}

.advantages-video {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 1000px;
  height: 560px;
  background-image: url(/images/advantages/advantages-preview.png);
}
