.about__section-title {
  margin-top: 240px;
}

.advantages-text {
  margin-left: auto;
  margin-right: auto;

  width: 702px;
  font-size: 21px;
  line-height: 30px;

  text-align: center;

  color: $secondary-text-color;
}

.stat-list {
  display: flex;
  justify-content: center;
  gap: 96px;

  margin-top: 32px;
}

.stat-list__circle {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: 1px solid #dcddeb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats-list__accent {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;

  color: $primary-text-color;
}

.stat-list__item {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 16px;
  line-height: 18px;

  letter-spacing: 1.6px;
  text-transform: uppercase;

  color: $secondary-text-color;
}

.stat-list__accent {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  /* identical to box height, or 129% */

  color: #211f54;
}

.video-thumb__video {
  width: 100%;
  height: 100%;
  border-radius: 22px;
}

.video-thumb {
  width: 1010px;
  height: 570px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 52px;
}

