.modal-info__top {
  padding-bottom: 50px;
}

.modal-info__bottom {
  padding-top: 50px;
}

.modal {
  display: flex;
  align-items: baseline;
  column-gap: 60px;
  justify-content: center;
}

.modal-info__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  /* or 121% */

  color: #211f54;
  margin-bottom: 8px;
}

.modal-info__subtitle {
  font-size: 21px;
  line-height: 30px;
  /* or 143% */

  color: #6e7191;
  margin-bottom: 12px;
}

.modal-info__question {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  /* identical to box height, or 129% */

  color: #211f54;
  margin-bottom: 8px;
}

.modal-info__text {
  font-size: 21px;
  line-height: 30px;
  /* or 143% */

  color: #6e7191;
  margin-bottom: 10px;
}

.modal-info {
  background-color: white;
  border-radius: 6px;
}

.form {
  width: 520px;
  height: 690px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  padding: 74px 50px;
  box-sizing: border-box;

  align-content: flex-start;

  border-radius: 16px;
}

.modal-form__thumb {
  display: flex;
  flex-wrap: wrap;
  row-gap: 22px;
  justify-content: space-between;
  margin-bottom: 32px;
}

.modal-form__group {
  display: flex;
  flex-direction: column;
}

.modal-form__label {
  margin-bottom: 6px;
  font-size: 16px;
  line-height: 1.7;
  /* identical to box height, or 167% */

  color: #211f54;
}

.modal-form__input {
  width: 190px;
  height: 42px;
  border-radius: 14px;
  border: 1px solid #eff0f6;
  box-sizing: border-box;
  box-shadow: 0px 2px 12px rgba(20, 20, 43, 0.08);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding-left: 10px;
}

.modal-form__textarea {
  border: 1px solid #eff0f6;
  border-radius: 14px;
  resize: none;
  width: 420px;
  height: 108px;
  padding: 0;
  margin-bottom: 32px;
  box-shadow: 0px 2px 12px rgba(20, 20, 43, 0.08);
}

.form-button {
  padding: 20px 32px;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.1;
  font-family: 'Roboto';

  color: white;
  background-color: #0075ff;
  border: 1px solid #0075ff;
  border-radius: 14px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
