.pages__button-list {
  position: absolute;
  right: 0px;
  top: 24px;
}

.article-list {
  display: flex;
  gap: 30px;
  margin-top: 10px;
}

.article-list__item {
  height: 630px;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.article-list__item:nth-child(1) {
  background-image: url(/images/resources/vacuumres.png);
}

.article-list__item:nth-child(2) {
  background-image: url(/images/resources/girlres.png);
}

.article-list li {
  width: 596px;
  height: 630px;
}

.article-list__link {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: translateY(-12px);
  }
}

.article-list__article {
  width: 536px;
  background-color: white;
  padding: 50px;
  border-radius: 24px;
  box-sizing: border-box;
  border: 1px solid #eff0f6;
  box-shadow: 0px 2px 6px rgba(20, 20, 43, 0.04);
  border-radius: 24px;
}

.article-list__caption {
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;

  color: #211f54;
  margin-bottom: 18px;
}

.article-list__text {
  font-size: 21px;
  line-height: 30px;
  /* or 143% */

  color: #6e7191;
  margin-bottom: 14px;
}

.article-list__date {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 111% */

  color: #211f54;
}

.article-list__icon {
  background-color: grey;
  border-radius: 50%;
}
