.services__section-title {
  text-align: left;
}

.services__secondary-button {
  position: absolute;
  top: 30px;
  right: 15px;
}

.service-list {
  display: flex;
  gap: 30px;
  margin-bottom: 240px;
  margin-top: 38px;
}

.service-list__item {
  width: 388px;
  height: 494px;
  border: 1px solid #eff0f6;
  border-radius: 16px;
  padding: 28px 38px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.service-list__caption {
  margin-top: 24px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;

  text-align: center;

  color: #211f54;
}

.service-list__text {
  font-size: 21px;
  line-height: 30px;

  text-align: center;

  color: $secondary-text-color;
}

.covid {
  margin-bottom: 200px;
  width: 1220px;
  height: 676px;
  background-color: #211f54;
  border-radius: 24px;
  background-image: url(/images/services/covid-back.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.covid-container {
  margin-right: 74px;
}

.covid-container__caption {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;

  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 16px;
}

.covid__tel-text {
  color: WHITE;
}

.covid__tel-number {
  color: white;
}

.covid-container__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: white;
  margin-bottom: 20px;
}

.covid-container__text {
  font-size: 21px;
  line-height: 30px;
  color: white;
  margin-bottom: 16px;
}

.house {
  width: 1220px;
  height: 680px;
  background-image: url(/images/services/house-details.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: right;
  margin-bottom: 200px;
}

.house-info {
  width: 480px;
}

.house-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;

  color: $primary-text-color;
}

.house-text {
  margin-bottom: 26px;
  font-size: 18px;
  line-height: 30px;

  color: $secondary-text-color;
}

.house-list {
  width: 350px;
  height: 188px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.house-list li {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;

  color: $primary-text-color;

  &:not(:last-child) {
    margin-bottom: 26px;
  }
}

.differents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(/images/services/process-of-cleaning.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  width: 1220px;
  height: 588px;
}

.diff-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;

  color: $primary-text-color;
  margin-bottom: 20px;
  width: 346px;
}

.diff-text {
  font-size: 18px;
  line-height: 30px;

  color: $secondary-text-color;
  margin-bottom: 26px;
  width: 496px;
}

.diff-list {
  display: flex;
  gap: 60px;
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;

  color: $primary-text-color;
  margin-bottom: 48px;
}

.diff-list span {
  font-size: 54px;
  line-height: 66px;

  color: $accent-color;
}

.diff-list .span2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  color: $secondary-text-color;
}
