.section-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;

  text-align: center;

  color: $primary-text-color;
}

.text {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  font-size: 21px;
  line-height: 30px;
  text-align: center;

  color: $secondary-text-color;
}

.work-list {
  margin-top: 64px;
  margin-bottom: 56px;
  display: flex;
  gap: 40px;
}

.work-step {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;

  text-align: center;

  color: $primary-text-color;
}

.step-text {
  font-size: 21px;
  line-height: 30px;
  text-align: center;

  color: $secondary-text-color;
}

.work-image {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.secondary-button {
  width: 174px;
  height: 54px;
  font-size: 16px;
  border-radius: 14px;
  line-height: 20px;

  text-align: center;

  color: $primary-text-color;
}

.button-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
